# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
.docusaurus/
.cache/
.temp/
.vscode/

# Debug logs
npm-debug.log*

# Misc
.next/
out/
.vercel

build/

# markitdown
markitdown_env/
convert_pdf.py
get-pip.py